{% extends parent_template|default:'batch/base_batch.html' %}

{% block title %}
{{ block.super }} - Section Detail
{% endblock title %}


{% block content %}
<h1>Section Detail</h1>
<p>Department: {{batch.department}} Year: {{batch.year}} Section: {{batch.section}}</p>
{% for student in batch.students.all %}
<div class="stu_detail jumbotron" style="width:max-content">
    Name: <a href="{{student.get_absolute_url}}">{{student.get_full_name}}</a> <br> 
    Usn: {{student.usn}} <br>   
    Email: {{student.email}} <br>   
</div>
{% endfor %}
{% endblock content %}