{% extends parent_template|default:'accounts/base_accounts.html' %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock title %}

{% block content %}

    {% if validlink %}
    <div class="row justify-content-md-center auth-form">
        <form action="{{request.path}}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-outline-primary">
                Save new password
            </button>
        </form>
    </div>
    {% else %}
    <p>This reset link is no longer valid.</p>
    <p>
        Please request a new email
        <a href="{% url 'student:pw_reset_start' %}">here</a>
    </p>
    {% endif %}

{% endblock %}