{% extends parent_template|default:'accounts/base_accounts.html' %}

{% block title %}
{{ block.super }} - Passowrd Reset Successful
{% endblock title %}

{% block content %}
<div class="row justify-content-md-center auth-form">
    <p class="text-center">Your password has been reset. <br> Login using your new password.</p>
    <div class="col-md-4"></div>
    <div class="col-md-4">
         {% include "accounts/login_form.html" %}
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}